* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, violet, blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    width: 80%;
    max-width: 800px;
    background: #FFFAFF;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    padding: 10px;
}

.user-profile {
    text-align: center;
    margin-bottom: 20px;
}

.user-profile h1 {
    font-size: 24px;
    color: #333;
}

.user-profile p {
    font-size: 14px;
    color: #666;
}

.balances {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.balance-item {
    text-align: center;
}

.balance-item h3 {
    font-size: 18px;
    color: #555;
}

.balance-item p {
    font-size: 22px;
    font-weight: bold;
    color: #333;
}

.daily-tasks {
    margin-bottom: 20px;
}

.daily-tasks h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.daily-tasks .task {
    background: #e8f4ff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.daily-tasks .task h3 {
    font-size: 16px;
    color: #333;
}

.main-message {
    text-align: center;
    margin-bottom: 140px;
    background-color: #FFFAFF;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    justify-content:last baseline ;
    
}

.main-message h2 {
    font-size: 20px;
    background: linear-gradient(45deg, #4CAF50, #006400);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    display: block;
}

.connect-wallet {
    position: fixed;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 83%;
    border-radius: 20px;
    background-color: #4B0082;
    color: white;
    padding: 15px 40px;
    text-align: center;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#connect-wallet-btn {
    background-color: #4caf50;
    color: white;
    font-size: 18px;
    padding: 20px 80px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 8px 16px;
}

#connect-wallet-btn:hover {
    background-color: blue;
}

.image-placeholder {
    text-align: center;
    background-color: #FFFAFF;
    margin-top: 20px;
    margin-bottom: 30px;
}

.image-placeholder img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .image-placeholder {
        text-align: left;
    }
}
